
 <h1> Edit Medicine </h1>
 <%= form_for :medicine do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @medicine.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :medicine_intake %><br>
    <%= form.text_field :medicine_intake %>
    <% @medicine.errors.full_messages_for(:medicine_intake).each do |message| %>
      <div><%= message %></div>
    <% end %>
    
  </div>

  <div>
    <%= form.label :purpose %><br>
    <%= form.text_field :purpose %>
    <% @medicine.errors.full_messages_for(:purpose).each do |message| %>
      <div><%= message %></div>
    <% end %>
    
  </div>
  
  <div>
  <%= form.submit "Save Medicine" %>
  </div>


  <%end%>