
 <h1> Add Medicines </h1>
 <%= form_with model: [@app,@app.medicines.build] do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :medicine_intake %><br>
    <%= form.text_field :medicine_intake %>
    
  </div>

  <div>
    <%= form.label :purpose %><br>
    <%= form.text_field :purpose %>
    
  </div>
  
  <div>
  <%= form.submit "Add Medicine" %>
  </div>


  <%end%>