<h1>Tell us about Yourself! </h1>
<%= form_with model: @appointment do |form| %>
    <div>
      <%= form.label :date %><br>
      <%= form.text_field :date %>
      
    </div>
  
    <div>
      <%= form.label :Age %><br>
      <%= form.text_field :Age %>
      
    </div>
  
    <div>
    <%= form.label :Weight %><br>
    <%= form.text_field :Weight %>
    </div>

  
  <div>
  <%= form.label :patients_problem %><br>
  <%= form.text_field :patients_problem %>
  </div>
  <br>

    <div>
      <%= form.label :status %><br>
      <%= form.text_field :status %>
      
    </div>
  

  <div>
  <%= form.submit %>
  </div>

    <%end%>

