<h1><%= @user.name %></h1>

<
<h2>Appointments</h2>
<% @patient.appointments.each do |appointment| %>
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  

<p>
<strong>patients_problem</strong>
<%= appointment.patients_problem %>
</p>

<p>
<strong>Status:</strong>
<%= appointment.status %>
</p>

<p>
<strong>Status:</strong>
<%= appointment.status %>
</p>
<% end %>
<h2>Book an appointment</h2>
<%= form_with model: [ @patient, @patient.appointment.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

