<h3> <%=@patient.name%> </h1>

<ul>
<li><%= link_to "Edit", edit_patient_path(@patient) %></li>
<li><%= link_to "Destroy", patient_path(@patient),method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>

<h1> Recent appointments </h1>
<ol><% @patient.appointments.each do |appointment| %>
  <p>
   <strong>Your Problem :- </strong> <%= appointment.patients_problem %> <br>
   <strong>Doctor Appointed :- </strong><% d= Doctor.find(appointment.doctor_id) %> <%= d.name%>
   <strong>Prescription :- </strong> <%= appointment.prescription %> <br>
  </p> 
</ol>
<% end %>
<ul>
<h1> Book an appointment with suitable doctor </h1>
 <h3> Doctors Available </h1>
<ul>
  <% @doctors.each do |doctor| %>
    <li>
    <a href="/doctors/<%= doctor.id %>"><%= doctor.name %>
    </li>
  <% end %>
  
</ul>


