<h1>Tell us about Yourself! </h1>
<%= form_with model: @doctor do |form| %>
    <div>
      <%= form.label :Specialization %><br>
      <%= form.text_field :specialist_in %>
      
    </div>
  
    <div>
    <%= form.label :Qualifications %><br>
    <%= form.text_field :Qualifications %>
    </div>

  
  <div>
  <%= form.label :Certifications %><br>
  <%= form.text_field :Certifications %>
  </div>

  <div>
      <%= form.submit %>
  </div>


    <%end%>