


<ul>
  <li><%= link_to "Edit", edit_doctor_path(@doctor) %></li>
  <li><%= link_to "Destroy", doctor_path(@doctor),method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Appointments</h2>
<% @doctor.appointments.each do |app| %>
  <p>
    <strong>Date</strong>
    <%= app.date %>
  </p>

  <p>
  <strong> Time</strong>
  <%= app.time %>
 </p>

  <p>
    <strong> Patients Problem</strong>
    <%= app.patients_problem %>
  </p>

  <p>
  <strong> Patients Age</strong>
  <%= app.patients_age %>
</p>
<p>
<strong> Patients Age</strong>
<%= app.patients_age %>
</p>



 


<% end %>