


<h1>Details of Dr. <%=@doctor.name%> </h1>

<strong> Name :</strong> <span> Dr.</span> <%= @doctor.name %> <br>
<strong>Qualifications :- </strong> <%= @doctor.qualifications%>  <br>
<strong>Specializations :- </strong><%= @doctor.specialist_in %><br>
<strong>Certifications :- </strong><%= @doctor.certifications %> <br>
 
<%= link_to "Book Appointment", new_doctor_appointment_path(@doctor)%>

