


<ul>
 # <li><%= link_to "Edit", edit_doctor_path(@doctor) %></li>
  #<li><%= link_to "Destroy", doctor_path(@doctor),method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>


<h3> Name :</h3> <span> Dr.</span> <%= @doctor.name %>
<h3>Qualifications :- </h3><%= @doctor.qualifications%> 
<h3>Specializations :- </h3><%= @doctor.specialist_in %>
<h3>Certifications :- </h3><%= @doctor.certifications %> <br>
 
<%= link_to "Book Appointment", new_doctor_appointment_path(@doctor)%>